*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none!important;
    cursor: pointer;
}
body{
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
/*.ng-scope{*/
    /*width: 100%;*/
    /*height:100%;*/
/*}*/
input {
    border: none;
    outline: none;
    background-color: transparent;
}
input::-webkit-input-placeholder{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}
input::-moz-placeholder {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}
input::-moz-placeholder{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}
input:-ms-input-placeholder{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
}
.clearfix{
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}