<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgetPasswordTestNum</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/forgetPasswordTestNum.css?v=22">
    <script src="angular/angular.min.js"></script>
</head>
<body>
    <div class="smalllogo"><img src="img/web-logo.png" alt="小图标"></div>
    <div class="content">
        <div class="sign-in">Safety Verification</div>
        <div class="hasSend">验证码已发送至手机号：{{transTel}}</div>
        <div class="testNum"><input type="text" placeholder="验证码" ng-model="testN"></div>
        <div class="testMessage" ng-show="testShow" ng-bind="mesTest"></div>
        <div class="reGetTestNum" ng-click="return()">重新获取验证码<span  ng-class="{sec:paraeventt,secd:!paraeventt}">({{paracont}})</span></div>
        <div class="login" ng-click="nextSecond()">下一步</div>
    </div>
</body>
</html>