<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgetPasswordOne</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/forgetPasswordOne.css?v=22">
    <script src="angular/angular.min.js"></script>
</head>
<body>
    <div class="smalllogo"><img src="img/web-logo.png" alt="小图标"></div>
    <div class="content">
        <div class="sign-in">Confirm Account</div>
        <div class="markedWords">请输入注册的手机号和公司名称</div>
        <!--<div class="companyName"><input type="text" placeholder="公司名称"></div>-->
        <div class="identity">
            <input type="text" placeholder="手机号" ng-model="forgetTelephone">
            <div class="getCheckNumber" ng-click="getAfterTestNum()">获取验证码</div>
        </div>
        <div class="password"><input type="text" placeholder="公司名称" ng-model="forgetBusinessName"></div>
        <div class="discribe">
            <div id="message" style="font-size: 12px;width: 300px;margin: 0 auto" ng-class="{hide:mes,show:!mes}" ng-repeat="item in messa">{{item.code}}</div>
            <p style="width: 288px;height: 44px;" class="pa">用户输入手机号码时请正确选择区域前缀，如台湾：+8859*******，香港：+8526*******</p>
            <div class="login" ng-click="nextOne()">下一步</div>
        </div>
    </div>
    <!--<div class="footer">-->
        <!--<div class="forgetPassword">忘记密码</div>-->
        <!--&lt;!&ndash;<div class="teamRegister">团队注册</div>&ndash;&gt;-->
    <!--</div>-->
</body>
</html>