<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/resetPassword.css?v=22">
    <script src="angular/angular.min.js"></script>
</head>
<body>
    <div class="smalllogo"><img src="img/web-logo.png" alt="小图标"></div>
    <div class="content">
        <div class="sign-in">Reset Password</div>
        <div class="describe">请设置新密码（最少6位数）</div>
        <!--<div class="companyName"><input type="text" placseholder="公司名称"></div>-->
        <div class="identity"><input type="password" placeholder="新密码" ng-model="newPassword"  ng-keyup="changeText()"></div>
        <div class="password"><input type="password" placeholder="确认新密码" ng-model="repeatNewPassword" ng-keyup="same()"></div>
        <div class="dvMessage">
            <div class="certainNew" ng-repeat="item in newPass">{{item.code}}</div>
            <div class="certain" ng-click="certainn()">确定</div>
        </div>
        <div id="littleOne" ng-class="{hide:littleOn,show:!littleOn}"><img src="img/littlePic.png" alt=""></div>
        <div id="littleTwo" ng-class="{hide:littleTw,show:!littleTw}"><img src="img/littlePic.png" alt=""></div>
    </div>
</body>
</html>